.footer-middle {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}

.text-right {
    text-align: right;
}

.pt-90 {
    padding-top: 90px !important;
}

.my-account__address-list {
    display: flex;
    gap: 1.625rem;
}

.form-floating>.form-control,
.form-floating>.form-select {
    height: 48px;
}

.products-grid {

    padding: 40px 20px;
    border-radius: 20px;
}

.product-card {
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}

.product-card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.section-title {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: #b56576;
}
